<div class="container-fluid mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
    <div class="col-md-4 col-sm-12 d-flex ps-3">
      <span class="mb-3 mb-md-0 text-muted"><strong>Mathew Goldsborough </strong>© 2023</span>
    </div>

    <ul class="nav col-md-4 col-sm-12 list-unstyled d-flex justify-content-end pe-3">
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/mgoldsborough/goldsborough.io">Source Code</a>
      </li>    
    </ul>
  </footer>
</div>
