/* Light */
@font-face {
  font-family: 'League Spartan';
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/LeagueSpartan-Light.ttf") format('truetype');
}

/* Regular */
@font-face {
  font-family: 'League Spartan';
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/LeagueSpartan-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
  font-family: 'League Spartan';
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/LeagueSpartan-Bold.ttf") format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: 'League Spartan', sans-serif;
}

.post > .post-header > .post-title {
  font-weight: 700;
  font-size: 3em;
}

.post > .post-header > .post-meta {
  color: rgb(185, 185, 185);
  font-size: 12px;
}
