---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About Mathew Goldsborough"
  description="Mathew Goldsborough is a Technologist, coder, and results-driven leader boasting over 15 years of diverse expertise and notable accomplishments in automation technologies, software and hardware engineering, and entrepreneurship."
  og={{ profile: { first_name: 'Mathew', last_name: 'Goldsborough' } }}
>
  <h1 class="py-3">Hi there.</h1>

  <p>
    I'm Mat, a Technologist, coder, and results-driven leader boasting over 15 years of diverse expertise and notable
    accomplishments in automation technologies, software and hardware engineering, and entrepreneurship. I'm passionate about
    leveraging technology to create lasting positive impact, and committed to developing and empowering top talent
    to achieve their full potential.
  </p>

  <p>
    I consult at <a href="https://www.onlyonet.com/">Only One T</a>, where I specialize in technology strategy,
    modern software architecture, devops and automation, website design, SEO, and PPC advertising. I've played a key role in
    the successful launch of numerous ventures within the realms of SaaS, digital advertising, and mobile application
    development, contributing to their notable success. Whether you're looking to hire or connect, feel free to reach
    out at <strong>hello [at] onlyonet.com</strong>.
  </p>

  <p>
    In 2023, I joined the talented engineering team at <a href="https://www.daily-harvest.com/">Daily Harvest</a>. I'm
    actively involved in reimagining, restructuring, and rearchitecting our backend eCommerce systems to boost performance,
    enhance efficiency, and save costs.
  </p>

  <p>
    In 2014, I partnered with a remarkable team to establish <a href="https://www.foreveroceans.com/">Forever Oceans</a>, the world's first vertically integrated open-ocean
    aquaculture company. Over the course of a decade, we built a global team of rock star engineers, scientists, and technicians,
    successfully raised over $115M in venture funding, and deployed the world's first truly open-ocean fish farms in Hawai'i and Panama.
    As CTO, I led the development and deployment of multiple large-scale automated fish farms and pioneered several
    innovative patented technologies.
  </p>

  <p>
    Prior to Forever Oceans, I worked for Lockheed Martin where I served in a lead engineer capacity across multiple domains
    including cyber security, space situational awareness, and command and control systems. I was the Chief Technologist on the
    Lockheed Aquaculture team which was spun out in 2014 to become Forever Oceans.
  </p>

  <h2 class="mt-5">Featured Videos</h2>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <iframe width="100%" src="https://www.youtube.com/embed/euG_lI95H-w?si=B7qvZJv6nBlHt39e" title="Tech, Transparency, Future of Open Ocean Fish Farms" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-12 col-lg-6 pt-md-1 pt-lg-0">
      <iframe width="100%" src="https://www.youtube.com/embed/XMwoezu_SFs?si=IbGPWszXoMWYZSLP" title="The Future of Ocean Farming" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <h2 class="mt-4">Featured Work</h2>
  <div class="row">
    <div class="col-3">
      <img src="/assets/images/ratio_render_logo.png" class="img-fluid" />
    </div>
    <div class="col">
      <h3>
        <span class="badge bg-primary">ACTIVE</span>
        <a href="https://www.ratiorender.com/">Ratio Render</a>
      </h3>
      <p>
        Dynamic aspect-driven image rendering for web developers. Rather than serving up fixed dimension jpg or png images,
        Ratio Render serves up SVGs which maintain their aspect ratios while scaling infinitely. It's built with
        <a href="https://nodejs.org/en">Node</a>, powered by <a href="https://aws.amazon.com/lambda/">AWS Lambda</a>, and
        deployed via <a href="https://www.terraform.io/">Terraform</a>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <img src="/assets/images/hacker_news.png" class="img-fluid" />
    </div>
    <div class="col">
      <h3>
        <span class="badge bg-primary">ACTIVE</span>
        <a href="https://whoishiring.goldsborough.io/">Who is hiring?</a>
      </h3>
      <p>
        Who is hiring? is an open-source app designed to simplify navigating through Hacker News' "Who's Hiring"
        monthly posts. It's built with <a href="https://react.dev/">React</a> and
        <a href="https://tailwindcss.com/">Tailwind</a> and deployed to <a href="https://pages.github.com/">gh-pages</a>.
      </p>
    </div>
  </div>

  <h2 class="mt-4">Past Work</h2>

  <div class="row">
    <div class="col-3">
      <img src="/assets/images/thesupguide_logo.jpg" class="img-fluid" />
    </div>
    <div class="col">
      <h3><span class="badge bg-success">SOLD</span> Standup Paddle Board Guide </h3>
      <p>
        Started in 2016, I established an Amazon affiliate marketing site focused on stand up paddle boards (SUP).
        Over the course of 2 years I implemented a comprehensive digital marketing strategy, encompassing on & off page SEO,
        PPC advertising, and social medial which resulted in over $2,000 in MRR. I produced all social media content
        including producing a recurring video series entitled, "This Week in SUP". Some videos you can still find on
        <a href="https://www.youtube.com/@StanduppaddleboardGuide">YouTube</a>. The SUP Guide was sold in 2018.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <img src="/assets/images/Meetup-Logo-2002.png" class="img-fluid" />
    </div>
    <div class="col">
      <h3><span class="badge bg-secondary">DISSOLVED</span> Valley Forge Tech Meetup</h3>
      <p>
        In 2014, I teamed up with the amazing <a href="https://www.linkedin.com/in/kariabancroft">Kari Bancroft</a>, and co-founded Valley Forge Tech, a tech
        focused <a href="https://www.meetup.com/">Meetup</a> in Valley Forge, PA. The Meetup brought together the disparate science and technology communities,
        and fostered networking and collaboration within the dynamic tech scene of Valley Forge. In a less than 8 months the group grew to over 200+ active members.
        Through cultivating partnerships with local businesses and executives, we orchestrated a variety of successful events, including demo days, hackathons, and meet and greets.
        You can find remnants of our website and hackathons on <a href="https://github.com/ValleyForgeTech">Github</a>. Valley Forge Tech was disbanded in 2015.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <img src="/assets/images/figo_pet_adoptions_mobile_app.jpg" class="img-fluid img-round" />
    </div>
    <div class="col">
      <h3><span class="badge bg-secondary">SHUT DOWN</span> Fido Pet Adoptions</h3>
      <p>
        Fido Pet Adoptions was a mobile application dedicated to pairing pets with their forever homes. Utilizing the PetFinder
        API, the app enabled users to explore and refine their search for adoptable pets in their vicinity. Compatible with both
        Android and iOS, the app garnered over 24,000 Monthly Active Users by 2012. Fido Pet Adoptions was shutdown in 2014.
      </p>
    </div>
  </div>

  <h2 class="mt-4">This Website</h2>

  <ul>
    <li>This site built with <a href="https://astro.build/">Astro</a> and <a href="https://getbootstrap.com/">Bootstrap</a></li>
    <li>It's open source. The source code can be found on <a href="https://github.com/mgoldsborough/goldsborough.io">Github</a></li>
  </ul>
</BaseLayout>
